@model EcommerceWeb.Controllers.ProductIndexViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text"><strong>$@product.Price</strong></p>
                    <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-primary">View Details</a>
                    <a href="@Url.Action("AddToCart", "Cart", new { productId = product.Id })" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>
